/* Artfully masterminded by ZURB  */

/* -----------------------------------------
   Page layout
----------------------------------------- */
body			{background: #d2d2d2;}
#main-wrapper   {margin: 2% 4%;}
#main-contents	{border: 0px solid #3d3d3d; padding: 0 20px; background-color: #fefefe;}
#title			{font-size: 4em; font-weight: 600; font-family: Verdana; margin: 5px; padding: 0px; text-align: center; letter-spacing: 0.1em; line-height: 1em; color: #000;}
@media (max-width: 750px) {
    #title      {margin: 50px 0 0 0;}
}
#slogan			{font-family: Verdana; font-size: 1.1em; text-align: center; margin-bottom: 5px; color: #999999;}
#copyright		{text-align: right; font-size: 0.9em; margin: 5px -10px; font-family: Verdana; color: #999999;}

/* Top navigation and about */
#navigation-row             {display: flex; justify-content: space-between; margin-top: 15px;}

ul#navigation,
ul#about                    {display: flex; list-style: none; margin: 0 -19px 0px -17px;}
ul#about                    {align-self: flex-end;}
ul#navigation               {flex-wrap: wrap;}

ul#navigation li,
ul#about li                 {align-self: flex-end; background-color: #286dd5; margin: 5px 4px 0px 2px;}
ul#navigation li            {float: left;}
ul#about li                 {float: right;}

ul#navigation a,
ul#about a                  {color: #fbfbfb; display: block; text-decoration: none; padding: 4px 6px; font: 600 16px Verdana; line-height: 20px;}
ul#navigation a:hover,
ul#about a:hover            {background-color: #3f87f3;}

ul#navigation li.current,
ul#about li.current         {margin-top: 0px;}
ul#navigation li.current a,
ul#about li.current a       {height: 48px;}

#switch-language            {position: absolute; top: 10px; right: 0px; font-size: 14px; line-height: 1.2em;}
#switch-language dd a       {cursor: pointer;}

.feed-icon                  {text-align: right; float: right;}
.feed-icon img              {position: relative; top: 2px; border: none}

#hidden-article             {margin-top: 20px; font-size: 72px; text-align: center;}

/* -----------------------------------------
   General styles
----------------------------------------- */
.nowrap         {white-space: nowrap;}
.wide           {width: 100%;}
.fixed-font     {font-family: 'courier new';}

/* Notice/alert message */
div.alert-box, div.notice-box   {padding: 16px; font-size: 22px; line-height: 1.5; text-shadow: none; color: #edf10a; background-color: #000; margin-top: 15px;}

/* Datatables JS */
.dataTable th                           {cursor: pointer;}
.dataTable th.sorting                   {background-color: #3e942e;}
.dataTable th.sorting_asc,
.dataTable th.sorting_desc              {background-color: #378329;}

table a, .tabs-content a, #navigation a, ul.breadcrumbs a {
    text-decoration: none;
}
table a:hover, .tabs-content a:hover, ul.breadcrumbs a:hover {
    text-decoration: underline;
}

/* -----------------------------------------
   Shared Styles (overdriven)
----------------------------------------- */
/* Link */
a:hover	                        {text-decoration: none;}
a:link,
a:active                        {color: #2e7a20;}
a:visited                       {color: #63540e;}


/* Table */
table                           {border: 2px solid #3e942e; background-color: #fff; margin: 0 0 18px 0;}
table thead tr th               {background-color: #3e942e; padding: 5px; color: #fff;}
table tbody tr td               {padding: 5px;}
table tbody tr.even,
table tbody tr.alt              {background: #eef3eb;}
table tbody tr:nth-child(even)  {background-color: #eef3eb;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote {font-size: 16px;}
h1 {font-size: 40px; color: #ed4837;}
h2 {font-size: 34px; margin: 40px 0px 10px 0px; font-weight: bold;}
h3 {font-size: 26px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

ul {margin-bottom: 20px;}

dl {margin-top: 0; margin-bottom: 20px;}
dt {font-style: italic; font-weight: 700; line-height: 1.5;}
dd {margin-left: 40px; line-height: 1.5;}

dl.tabs.pill dd.active a {
    background-color: #3e942e;
}
dl.tabs.pill dd.active a:hover {
    background-color: #69c158;
    text-decoration: none;
}

.button {background-color: #3e942e; border-color: #18530d;}
.button:hover {background-color: #69c158;}
.button:focus {box-shadow: none;}

/* -----------------------------------------
   Main page
----------------------------------------- */
/* Keyword cloud  */
#keyword-cloud ul		{padding: .5em; text-align: center; background-color: #2BA6CB; margin-bottom: 0}
#keyword-cloud ul li	{margin: 0; padding: 0; list-style: none; display: inline;}
#keyword-cloud ul li a	{text-decoration: none; color: #fff; padding: 0 2px;}
#keyword-cloud ul li a:hover {color: #fbfd54;}
.keyword6			{font-size:199%; font-weight: bolder;}
.keyword5			{font-size:166%; font-weight: normal;}
.keyword4			{font-size:138%; font-weight: normal;}
.keyword3			{font-size:115%; font-weight: normal;}
.keyword2			{font-size:96%; font-weight: normal;}
.keyword1			{font-size:80%; font-weight: lighter;}
#select-keyword		{text-align: center; margin-top: 10%; color: #285EAE; font-size: 3em; font-weight: bold; line-height: 1.5em;}
#select-keyword span	{font-size: 500%; line-height: 0.1em;}

#visited-articles table	{margin-bottom: 0px;}
#recent-articles table	{margin-bottom: 0px;}

/* -----------------------------------------
   Article page
----------------------------------------- */
#rating {
    display: inline-block;
    padding: 0px;
}
#rating div, #rating .selected, #rating .highlighted {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='80'%20height='30'%3E%3Cpath%20d='M17.5,12.5h-8.5l6.8,5-2.6,8.1,6.8-5,6.8,5-2.6-8.1,6.8-5h-8.5l-2.6-8.1z'%20fill='%23c0c0c0'%20stroke='%23c0c0c0'/%3E%3Cpath%20d='M57.5,12.5h-8.5l6.8,5-2.6,8.1,6.8-5,6.8,5-2.6-8.1,6.8-5h-8.5l-2.6-8.1z'%20fill='%23ffd83d'%20stroke='%23eac328'/%3E%3C/svg%3E");
    height: 30px; width: 40px;
}
#rating div          {background-position: 0px 0px;}
#rating .selected,
#rating .highlighted {background-position: -40px 0px;}

table#comments td small {white-space: nowrap;}

#table_of_contents      {float: right; margin: 30px 0px 5px 5px;}
#table_of_contents ul   {margin-left: 20px; margin-top: 0px; line-height: 1.4;}

#article-metadata {line-height: 1.5;}

.centered       {text-align: center;}
.u              {text-decoration: underline;}
.clear          {clear: both;}
.tight          {margin: 0px;}
.font1          {font-size: 80%;}
.negative       {color: red;}
.ready,
.positive       {color: green;}
.harvard-green  {color: #3AB54A;}
.harvard-red    {color: #B50A37;}
.harvard-blue   {color: #4294D0;}
.harvard-yellow {color: #FFC525;}
.harvard-orange {color: #E77D19;}
.harvard-brown  {color: #A78562;}

div.imgContainer        {margin: 0 auto 20px auto; max-width: 100%;}
.imgContainer img,
.imgContainer iframe,
.imgContainer video     {border: 2px solid #515151; padding: 2px; margin: 0 auto;}
.imgContainer iframe    {max-width: 100%;}
.imgContainer p         {text-align: left; font-size: 80%; margin-top: 0}
div.thumbsContainer     {text-align: center;}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* in simple web form article */
ol      {margin-left: 40px;}
ol li   {margin-bottom: 15px;}

.code {
    font-size: 14px;
    margin: 0px 0px 15px; 0px;
    padding: 10px;
    background-color: #eef3eb;
    color: #3e942e;
    font-family: 'courier new';
    line-height: 1.2;
    overflow-y: scroll;
}
code {
    font-size: 18px;
    margin: 0px 0px 15px; 0px;
    padding: 10px;
    background-color: #eef3eb;
    color: #3e942e;
    font-family: 'courier new';
    line-height: 1.3;
    display: block;
}
code .starter {
    color: #ed4938;
    display: inline;
}
code .line {
    color: #3e942e;
    font-weight: bold;
    display: block;
}
code.lines {
    color: #222222;
    font-weight: normal;
    display: block;
    white-space: pre;
    font-size: 12px;
    background-color: #fff;
    border-radius: 0px;
    overflow-x: scroll;
}
code .comment {
    color: #727272;
    font-style: italic;
    display: block;
    font-weight: normal;
}
code .comment.inline {
    display: inline;
}
code.inline {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #d8d8d8;
    border-radius: 2px;
    font-family: 'Courier New';
    font-weight: normal;
    /*color: #285EAE;*/
    border: none;
    display: inline;
}

table.norm {
    background-color: #eef3eb;
    margin: 0px 0 5px 0;
    font-size: 12px;
    border-spacing: 0px;
}
table.norm td {
    padding: 3px;
    vertical-align: top;
}
table.norm th {
    background-color: #3e942e;
    text-align: left;                                /* opera didnt align correctly */
    line-height: 20px;
    border: 1px solid #3e942e;
}

p.table-notes {
    margin-top: -10px;
    font-size: 13px;
    line-height: 1.3;
}

/* -----------------------------------------
   Contents page
----------------------------------------- */



@media (max-width: 600px) {
    #title          {font-size: 2.6em;}
    h1              {font-size: 30px;}
    h2              {font-size: 24px;}
}
